.languageLabel{
  padding: 3px !important;
  margin: auto 3px !important;
}

.skillLabel{
  margin: 2px 2px !important;
}

.jobdesc{
  color: rgba(0, 0, 0, 0.7);
}

.blue{
  color: #4183C4;
}
.green{
  color: #21BA45;
}

.black{
  color: black;
}

.personaldata{
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
}
