@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../public/Muli/Muli-Regular.ttf');
}

body {
  font-size: 11pt !important;
	background: white;
  font-family: 'Muli', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Muli', sans-serif !important;
}

#content {
	width: auto;
	padding: 0;
	border: 0;
	float: none !important;
	color: black;
	background: transparent;
}

div#content {
	padding-top: 2.5em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
}
