body {
  font-size: 11pt !important;
	background: white;
}

#content {
	width: auto;
	padding: 0;
	border: 0;
	float: none !important;
	color: black;
	background: transparent;
}

div#content {
	padding-top: 3em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
}
